.home-container {
  display: flex;

  width: 100%;
  height: 100vh;
  /* Örnek bir maksimum genişlik */

}

.home-logo {

  /* Logo genişlemesi */
  text-align: center;
  /* Metni yatayda ortala */
  background-color: #f0f0f0;
  /* Arka plan rengi */
  height: 100vh;
  border-radius: 5px;
  /* Kenar yuvarlaklığı */
  display: flex;
  /* İçerikleri yatayda hizalamak için */

  /* İçerikleri dikeyde ortalamak için */
  width: 50%;
}

.home-login {

  /* Giriş bölümü genişlemesi */
  text-align: center;
  /* Metni yatayda ortala */
  background-color: #FDFDFF;
  ;
  /* Arka plan rengi */
  height: 100%;
  border-radius: 18px;
  /* Kenar yuvarlaklığı */
z-index: 9999;
position: absolute;
width: 56%;
left: 486px;
align-items: center;
display: flex;
flex-direction: column;
}

.home-logo img {
 background-size:contain;
 height: 100vh;
}

.hos{
font-family: Arial;
font-size: 28px;
font-weight: 700;
line-height: 32.2px;
text-align: left;
color: #000000B2;

}
.hos1{
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 21px;


}

.home-login > div {
  margin-bottom: 10px; /* İçerikler arası boşluk */
  position: relative;
  top: 84px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  right: 25px;
 
}

.home-login img {
  display: flex; /* Resmi blok öğe yapar */
  width: 104.94px; /* Resmi ortalar ve altında boşluk bırakır */
  align-items:center;
  align-self: center;
  justify-content: center;
  position:relative;
}

.home-login label {
  display: block; /* Etiketi blok öğe yapar */
  margin-bottom: 5px; /* Etiketler arası boşluk */
}

.home-login input {
  width: 100%; /* Giriş kutularını genişletir */
  /* İçeriği yastıklar */
  border-radius: 10px; /* Kenar yuvarlaklığı */
  border: 1px solid#D9D9D9; /* Kenarlık stilini belirler */
  height: 38px;
  padding: 5px;
  font-size: 18px;
}

.home-login button {

  padding: 10px; /* İçeriği yastıklar */
  border-radius: 6px; /* Kenar yuvarlaklığı */
  border: none; /* Kenarlık olmadan */
  background-color: #1B84FF;
  ; /* Arkaplan rengi */
  color: #fff; /* Yazı rengi */
  cursor: pointer; /* İmleci el işaretine dönüştürür */
  transition: background-color 0.3s; /* Arka plan rengi geçiş efekti */
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.home-login button:hover {
  background-color: #0056b3; /* Hover durumunda arka plan rengini değiştirir */
}
